In [1]:
import pandas as pd
import numpy as np

In [2]:
weather=pd.read_csv('./weather1.csv')
lend = pd.read_csv('./lend.csv')
dust = pd.read_csv('./dust.csv')
dust

     Unnamed: 0          날짜  미세먼지  상태
0             0  2021-01-01    30  보통
1             1  2021-01-02    36  나쁨
2             2  2021-01-03    41  나쁨
3             3  2021-01-04    44  나쁨
4             4  2021-01-05    28  보통
..          ...         ...   ...  ..
360         360  2021-12-27    32  보통
361         361  2021-12-28    51  나쁨
362         362  2021-12-29    61  나쁨
363         363  2021-12-30    28  보통
364         364  2021-12-31    22  보통

[365 rows x 4 columns]

In [3]:
dust1=dust[['미세먼지','상태']]
lend1=lend[['대여일시','대여건수']]
weather1=weather[['강수량(mm)','날씨']]

In [4]:
total=pd.concat([lend1,dust1,weather1],axis=1)
total

           대여일시      대여건수  미세먼지  상태  강수량(mm)  날씨
0    2021-01-01   22,274     30  보통      0.0  맑음
1    2021-01-02   23,631     36  나쁨      0.0  맑음
2    2021-01-03   21,809     41  나쁨      0.0  맑음
3    2021-01-04   32,957     44  나쁨      0.0  맑음
4    2021-01-05   29,033     28  보통      0.0  맑음
..          ...       ...   ...  ..      ...  ..
360  2021-12-27   42,521     32  보통      0.0  맑음
361  2021-12-28   51,268     51  나쁨      0.0  맑음
362  2021-12-29   52,017     61  나쁨      0.2   비
363  2021-12-30   48,993     28  보통      0.0  맑음
364  2021-12-31   40,604     22  보통      0.0  맑음

[365 rows x 6 columns]

In [5]:
total.to_csv('total1.csv')