In [1]:
import pandas as pd
import numpy as np

In [2]:
day1=pd.read_csv('./data/서울시_강우량_정보_2021년01월.csv',encoding='cp949')
day2=pd.read_csv('./data/서울시_강우량_정보_2021년02월.csv',encoding='cp949')
day3=pd.read_csv('./data/서울시_강우량_정보_2021년03월.csv',encoding='cp949')
day4=pd.read_csv('./data/서울시_강우량_정보_2021년04월.csv',encoding='cp949')
day5=pd.read_csv('./data/서울시_강우량_정보_2021년05월.csv',encoding='cp949')
day6=pd.read_csv('./data/서울시_강우량_정보_2021년06월.csv',encoding='cp949')
day7=pd.read_csv('./data/서울시_강우량_정보_2021년07월.csv',encoding='cp949')
day8=pd.read_csv('./data/서울시_강우량_정보_2021년08월.csv',encoding='cp949')
day9=pd.read_csv('./data/서울시_강우량_정보_2021년09월.csv',encoding='cp949')
day10=pd.read_csv('./data/서울시_강우량_정보_2021년10월.csv',encoding='cp949')
day11=pd.read_csv('./data/서울시_강우량_정보_2021년11월.csv',encoding='cp949')
day12=pd.read_csv('./data/서울시_강우량_정보_2021년12월.csv',encoding='cp949')

In [3]:
day1['자료수집 시각']= pd.to_datetime(day1['자료수집 시각']).dt.date
day2['자료수집 시각']= pd.to_datetime(day2['자료수집 시각']).dt.date
day3['자료수집 시각']= pd.to_datetime(day3['자료수집 시각']).dt.date
day4['자료수집 시각']= pd.to_datetime(day4['자료수집 시각']).dt.date
day5['자료수집 시각']= pd.to_datetime(day5['자료수집 시각']).dt.date
day6['자료수집 시각']= pd.to_datetime(day6['자료수집 시각']).dt.date
day7['자료수집 시각']= pd.to_datetime(day7['자료수집 시각']).dt.date
day8['자료수집 시각']= pd.to_datetime(day8['자료수집 시각']).dt.date
day9['자료수집 시각']= pd.to_datetime(day9['자료수집 시각']).dt.date
day10['자료수집 시각']= pd.to_datetime(day10['자료수집 시각']).dt.date
day11['자료수집 시각']= pd.to_datetime(day11['자료수집 시각']).dt.date
day12['자료수집 시각']= pd.to_datetime(day12['자료수집 시각']).dt.date

In [4]:
df=pd.concat([day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,day11,day12])

In [5]:
df['자료수집 시각'] = pd.to_datetime(df['자료수집 시각'], format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2181090 entries, 0 to 200736
Data columns (total 6 columns):
 #   Column   Dtype
---  ------   -----
 0   강우량계 코드  int64
 1   강우량계명    object
 2   구청 코드    int64
 3   구청명      object
 4   10분우량    float64
 5   자료수집 시각  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 116.5+ MB

In [6]:
# 자료수집 시각, 구청명, 10분우량 열 추출
df = df.iloc[:,[3,4,5]]

In [7]:
# 자료수집 시각, 구청명 별 10분우량의 평균 피봇 테이블 생성
result = df.pivot_table(index=['자료수집 시각', '구청명'], values=['10분우량'], aggfunc=['mean'])

In [8]:
# 피봇테이블을 df로 변환
result.reset_index(inplace=True)
result.head(40)

      자료수집 시각   구청명      mean
                        10분우량
0  2021-01-01   강남구  0.000000
1  2021-01-01   구로구  0.000000
2  2021-01-01   마포구  0.000000
3  2021-01-01   성북구  0.000000
4  2021-01-02   강남구  0.000000
5  2021-01-02   노원구  0.000000
6  2021-01-02   성북구  0.000000
7  2021-01-03   강남구  0.000000
8  2021-01-03   노원구  0.000000
9  2021-01-04   강남구  0.000000
10 2021-01-04   강동구  0.000000
11 2021-01-04   강북구  0.000000
12 2021-01-04   강서구  0.000000
13 2021-01-04   관악구  0.000000
14 2021-01-04   광진구  0.000000
15 2021-01-04   구로구  0.000000
16 2021-01-04   금천구  0.000000
17 2021-01-04   노원구  0.233108
18 2021-01-04   도봉구  0.000000
19 2021-01-04  동대문구  0.000000
20 2021-01-04   동작구  0.000000
21 2021-01-04   마포구  0.000000
22 2021-01-04  서대문구  0.000000
23 2021-01-04   서초구  0.000000
24 2021-01-04   성동구  0.000000
25 2021-01-04   성북구  0.000000
26 2021-01-04   송파구  0.000000
27 2021-01-04   양천구  0.000000
28 2021-01-04  영등포구  0.000000
29 2021-01-04   용산구  0.000000
30 2021-01-04   은평구  0.000000
31 2021-01-04   종로구  0.000000
32 2021-01-04    중구  0.000000
33 2021-01-04   중랑구  0.000000
34 2021-01-05   노원구  0.000000
35 2021-01-06   노원구  0.000000
36 2021-01-07   노원구  0.274648
37 2021-01-08   노원구  0.253676
38 2021-01-09   강남구  0.000000
39 2021-01-09   노원구  0.000000

In [9]:
# 10분우량 평균 반올림
result['mean'] = result['mean'].round(2)
result

        자료수집 시각  구청명  mean
                     10분우량
0    2021-01-01  강남구   0.0
1    2021-01-01  구로구   0.0
2    2021-01-01  마포구   0.0
3    2021-01-01  성북구   0.0
4    2021-01-02  강남구   0.0
...         ...  ...   ...
8437 2021-12-31  용산구   0.0
8438 2021-12-31  은평구   0.0
8439 2021-12-31  종로구   0.0
8440 2021-12-31   중구   0.0
8441 2021-12-31  중랑구   0.0

[8442 rows x 3 columns]

In [10]:
result.to_csv('./rain.csv', index=False,encoding='utf-8-sig')

In [216]:
gang=result[(result['구청명'] == '강남구')]
song=result[(result['구청명'] == '송파구')]
seo=result[(result['구청명'] == '강서구')]
young=result[(result['구청명'] == '영등포구')]
cho=result[(result['구청명'] == '서초구')]

In [263]:
a=gang[['자료수집 시각','mean']]
a=a.rename(columns={'자료수집 시각':'일자'})
a=a.rename(columns={'mean':'강남구'})
a

             일자   강남구
                10분우량
0    2021-01-01   0.0
4    2021-01-02   0.0
7    2021-01-03   0.0
9    2021-01-04   0.0
38   2021-01-09   0.0
...         ...   ...
8317 2021-12-27   0.0
8342 2021-12-28   0.0
8367 2021-12-29   0.0
8392 2021-12-30   0.0
8417 2021-12-31   0.0

[296 rows x 2 columns]

In [264]:
a.to_csv('gangnam.csv',index=False,encoding='utf-8-sig')

In [266]:
b=song[['자료수집 시각','mean']]
b=b.rename(columns={'자료수집 시각':'일자'})
b=b.rename(columns={'mean':'송파구'})
b

             일자   송파구
                10분우량
26   2021-01-04  0.00
47   2021-01-10  0.01
56   2021-01-11  0.00
65   2021-01-12  0.02
84   2021-01-13  0.05
...         ...   ...
8334 2021-12-27  0.00
8359 2021-12-28  0.00
8384 2021-12-29  0.00
8409 2021-12-30  0.00
8434 2021-12-31  0.00

[347 rows x 2 columns]

In [267]:
b.to_csv('songpa.csv',index=False,encoding='utf-8-sig')

In [268]:
c=seo[['자료수집 시각','mean']]
c=c.rename(columns={'자료수집 시각':'일자'})
c=c.rename(columns={'mean':'강서구'})
c

             일자   강서구
                10분우량
12   2021-01-04  0.00
71   2021-01-13  0.01
94   2021-01-14  0.00
117  2021-01-15  0.00
140  2021-01-16  0.00
...         ...   ...
8320 2021-12-27  0.00
8345 2021-12-28  0.00
8370 2021-12-29  0.00
8395 2021-12-30  0.00
8420 2021-12-31  0.00

[342 rows x 2 columns]

In [269]:
d=young[['자료수집 시각','mean']]
d=d.rename(columns={'자료수집 시각':'일자'})
d=d.rename(columns={'mean':'영등포구'})
d

             일자  영등포구
                10분우량
28   2021-01-04  0.00
178  2021-01-17  0.00
433  2021-01-28  0.14
457  2021-01-29  0.00
481  2021-01-30  0.00
...         ...   ...
8336 2021-12-27  0.00
8361 2021-12-28  0.00
8386 2021-12-29  0.00
8411 2021-12-30  0.00
8436 2021-12-31  0.00

[322 rows x 2 columns]

In [270]:
e=cho[['자료수집 시각','mean']]
e=e.rename(columns={'자료수집 시각':'일자'})
e=e.rename(columns={'mean':'서초구'})
e

             일자   서초구
                10분우량
23   2021-01-04  0.00
81   2021-01-13  0.06
104  2021-01-14  0.00
127  2021-01-15  0.00
150  2021-01-16  0.00
...         ...   ...
8331 2021-12-27  0.00
8356 2021-12-28  0.00
8381 2021-12-29  0.00
8406 2021-12-30  0.00
8431 2021-12-31  0.00

[331 rows x 2 columns]

In [271]:
c.to_csv('gangseo.csv',index=False,encoding='utf-8-sig')

In [272]:
d.to_csv('young.csv',index=False,encoding='utf-8-sig')

In [273]:
e.to_csv('seocho.csv',index=False,encoding='utf-8-sig')

In [280]:
g=pd.merge(a,b)
g

            일자   강남구   송파구
               10분우량 10분우량
0   2021-01-04  0.00  0.00
1   2021-01-10  0.01  0.01
2   2021-01-11  0.00  0.00
3   2021-01-12  0.01  0.02
4   2021-01-13  0.03  0.05
..         ...   ...   ...
287 2021-12-27  0.00  0.00
288 2021-12-28  0.00  0.00
289 2021-12-29  0.00  0.00
290 2021-12-30  0.00  0.00
291 2021-12-31  0.00  0.00

[292 rows x 3 columns]

In [306]:
k=pd.merge(a, b, on = '일자', how = 'left')
l=pd.merge(c, d, on = '일자', how = 'left')
m=pd.merge(k,l, on = '일자', how = 'left')
o=pd.merge(m,e, on = '일자', how = 'left')
o.head(50)

C:\anaconda3\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

           일자   강남구   송파구   강서구  영등포구   서초구
              10분우량 10분우량 10분우량 10분우량 10분우량
0  2021-01-01  0.00   NaN   NaN   NaN   NaN
1  2021-01-02  0.00   NaN   NaN   NaN   NaN
2  2021-01-03  0.00   NaN   NaN   NaN   NaN
3  2021-01-04  0.00  0.00  0.00  0.00  0.00
4  2021-01-09  0.00   NaN   NaN   NaN   NaN
5  2021-01-10  0.01  0.01   NaN   NaN   NaN
6  2021-01-11  0.00  0.00   NaN   NaN   NaN
7  2021-01-12  0.01  0.02   NaN   NaN   NaN
8  2021-01-13  0.03  0.05  0.01   NaN  0.06
9  2021-01-14  0.00  0.00  0.00   NaN  0.00
10 2021-01-15  0.00  0.00  0.00   NaN  0.00
11 2021-01-16  0.00  0.00  0.00   NaN  0.00
12 2021-01-17  0.00  0.00  0.00  0.00  0.00
13 2021-01-18  0.01  0.00  0.00   NaN  0.00
14 2021-01-19  0.00  0.00  0.00   NaN  0.00
15 2021-01-20  0.00  0.00  0.00   NaN  0.00
16 2021-01-21  0.08  0.08  0.06   NaN  0.09
17 2021-01-22  0.00  0.00  0.00   NaN  0.00
18 2021-01-23  0.00  0.00  0.00   NaN  0.00
19 2021-01-24  0.00  0.00  0.00   NaN  0.00
20 2021-01-25  0.00  0.00  0.00   NaN  0.00
21 2021-01-26  0.02  0.02  0.00   NaN  0.02
22 2021-01-27  0.00  0.00  0.00   NaN  0.00
23 2021-01-28  0.01  0.01  0.01  0.14  0.25
24 2021-02-01  0.00  0.01  0.00  0.00  0.01
25 2021-02-02  0.00  0.00  0.00  0.00  0.00
26 2021-02-03  0.00  0.00  0.00  0.00  0.00
27 2021-02-04  0.01  0.01  0.01  0.00  0.00
28 2021-02-05  0.00  0.00  0.00  0.00  0.00
29 2021-03-26  0.00  0.00  0.00  0.00  0.00
30 2021-03-27  0.16  0.13  0.15  0.14  0.14
31 2021-03-28  0.05  0.04  0.05  0.04  0.04
32 2021-03-30  0.01  0.00  0.00  0.00  0.00
33 2021-03-31  0.00  0.00  0.00  0.00  0.00
34 2021-04-01  0.00  0.00  0.00  0.00  0.00
35 2021-04-02  0.00  0.00  0.00  0.00  0.00
36 2021-04-03  0.40  0.35  0.35  0.35  0.41
37 2021-04-04  0.00  0.01  0.00  0.00  0.00
38 2021-04-05  0.00  0.00  0.00  0.00  0.00
39 2021-04-06  0.00  0.00  0.00  0.00  0.00
40 2021-04-07  0.00  0.00  0.00  0.00  0.00
41 2021-04-08  0.00  0.00  0.00  0.00  0.00
42 2021-04-09  0.00  0.00  0.00  0.00  0.00
43 2021-04-10  0.00  0.00  0.00  0.00  0.00
44 2021-04-11  0.00  0.00  0.00  0.00  0.00
45 2021-04-12  0.14  0.13  0.15  0.11  0.13
46 2021-04-13  0.03  0.03  0.03  0.04  0.03
47 2021-04-14  0.00  0.00  0.00  0.00  0.00
48 2021-04-15  0.00  0.00  0.00  0.00  0.00
49 2021-04-16  0.00  0.00  0.00  0.00  0.00

In [309]:
oh=o.interpolate(method='ffill',limit_direction='forward')
oh.head(50)

           일자   강남구   송파구   강서구  영등포구   서초구
              10분우량 10분우량 10분우량 10분우량 10분우량
0  2021-01-01  0.00   NaN   NaN   NaN   NaN
1  2021-01-02  0.00   NaN   NaN   NaN   NaN
2  2021-01-03  0.00   NaN   NaN   NaN   NaN
3  2021-01-04  0.00  0.00  0.00  0.00  0.00
4  2021-01-09  0.00  0.00  0.00  0.00  0.00
5  2021-01-10  0.01  0.01  0.00  0.00  0.00
6  2021-01-11  0.00  0.00  0.00  0.00  0.00
7  2021-01-12  0.01  0.02  0.00  0.00  0.00
8  2021-01-13  0.03  0.05  0.01  0.00  0.06
9  2021-01-14  0.00  0.00  0.00  0.00  0.00
10 2021-01-15  0.00  0.00  0.00  0.00  0.00
11 2021-01-16  0.00  0.00  0.00  0.00  0.00
12 2021-01-17  0.00  0.00  0.00  0.00  0.00
13 2021-01-18  0.01  0.00  0.00  0.00  0.00
14 2021-01-19  0.00  0.00  0.00  0.00  0.00
15 2021-01-20  0.00  0.00  0.00  0.00  0.00
16 2021-01-21  0.08  0.08  0.06  0.00  0.09
17 2021-01-22  0.00  0.00  0.00  0.00  0.00
18 2021-01-23  0.00  0.00  0.00  0.00  0.00
19 2021-01-24  0.00  0.00  0.00  0.00  0.00
20 2021-01-25  0.00  0.00  0.00  0.00  0.00
21 2021-01-26  0.02  0.02  0.00  0.00  0.02
22 2021-01-27  0.00  0.00  0.00  0.00  0.00
23 2021-01-28  0.01  0.01  0.01  0.14  0.25
24 2021-02-01  0.00  0.01  0.00  0.00  0.01
25 2021-02-02  0.00  0.00  0.00  0.00  0.00
26 2021-02-03  0.00  0.00  0.00  0.00  0.00
27 2021-02-04  0.01  0.01  0.01  0.00  0.00
28 2021-02-05  0.00  0.00  0.00  0.00  0.00
29 2021-03-26  0.00  0.00  0.00  0.00  0.00
30 2021-03-27  0.16  0.13  0.15  0.14  0.14
31 2021-03-28  0.05  0.04  0.05  0.04  0.04
32 2021-03-30  0.01  0.00  0.00  0.00  0.00
33 2021-03-31  0.00  0.00  0.00  0.00  0.00
34 2021-04-01  0.00  0.00  0.00  0.00  0.00
35 2021-04-02  0.00  0.00  0.00  0.00  0.00
36 2021-04-03  0.40  0.35  0.35  0.35  0.41
37 2021-04-04  0.00  0.01  0.00  0.00  0.00
38 2021-04-05  0.00  0.00  0.00  0.00  0.00
39 2021-04-06  0.00  0.00  0.00  0.00  0.00
40 2021-04-07  0.00  0.00  0.00  0.00  0.00
41 2021-04-08  0.00  0.00  0.00  0.00  0.00
42 2021-04-09  0.00  0.00  0.00  0.00  0.00
43 2021-04-10  0.00  0.00  0.00  0.00  0.00
44 2021-04-11  0.00  0.00  0.00  0.00  0.00
45 2021-04-12  0.14  0.13  0.15  0.11  0.13
46 2021-04-13  0.03  0.03  0.03  0.04  0.03
47 2021-04-14  0.00  0.00  0.00  0.00  0.00
48 2021-04-15  0.00  0.00  0.00  0.00  0.00
49 2021-04-16  0.00  0.00  0.00  0.00  0.00

In [253]:
f=pd.merge(c,d)

In [256]:
l=pd.merge(g,f)

In [258]:
k=pd.merge(l,e)

In [262]:
k.to_csv('weather_gu.csv',index=False,encoding='utf-8-sig')

In [261]:
k

            일자   강남구   송파구   강서구  영등포구   서초구
               10분우량 10분우량 10분우량 10분우량 10분우량
0   2021-01-04  0.00  0.00  0.00  0.00  0.00
1   2021-01-17  0.00  0.00  0.00  0.00  0.00
2   2021-01-28  0.01  0.01  0.01  0.14  0.25
3   2021-02-01  0.00  0.01  0.00  0.00  0.01
4   2021-02-02  0.00  0.00  0.00  0.00  0.00
..         ...   ...   ...   ...   ...   ...
264 2021-12-27  0.00  0.00  0.00  0.00  0.00
265 2021-12-28  0.00  0.00  0.00  0.00  0.00
266 2021-12-29  0.00  0.00  0.00  0.00  0.00
267 2021-12-30  0.00  0.00  0.00  0.00  0.00
268 2021-12-31  0.00  0.00  0.00  0.00  0.00

[269 rows x 6 columns]