In [130]:
import pandas as pd
import numpy as np

In [131]:
jan=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.01.csv',encoding='cp949')
feb=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.02.csv',encoding='cp949')
Mar=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.03.csv',encoding='cp949')
apr=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.04.csv',encoding='cp949')
may=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.05.csv',encoding='cp949')
jun=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.06.csv',encoding='cp949')
jul=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.07.csv',encoding='cp949')
aug=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.08.csv',encoding='cp949')
sep=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.09.csv',encoding='cp949')
octo=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.10.csv',encoding='cp949')
nov=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.11.csv',encoding='cp949')
dec=pd.read_csv('./data/일별-월별-시간대별 data/서울특별시 공공자전거 이용정보(월별)_2021년/서울특별시 공공자전거 이용정보(월별)_21.12.csv',encoding='cp949')

In [132]:
sep=sep.rename(columns={'이용거리(M)':'이동거리(M)'})
sep=sep.rename(columns={'이용시간(본)':'이용시간(분)'}) # sep column오타수정

In [133]:
data=pd.concat([jan,feb,Mar,apr,may,jun,jul,aug,sep,octo,nov,dec])
data.head(10)

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01,3,중랑센터,일일(회원),M,AGE_003,2,47.68,0.40,1720.00,25
1,2021-01,3,중랑센터,정기,M,AGE_003,11,578.98,2.87,12390.48,166
2,2021-01,3,중랑센터,정기,M,AGE_004,1,81.65,0.53,2291.05,13
3,2021-01,5,상암센터 정비실,일일(회원),\N,AGE_004,1,511.95,3.53,15209.58,47
4,2021-01,5,상암센터 정비실,일일(회원),M,AGE_004,6,371.10,3.39,14642.60,134
5,2021-01,10,위트콤,단체,\N,AGE_003,3,0.00,0.00,0.00,8
6,2021-01,10,위트콤,일일(비회원),\N,AGE_008,1,0.00,0.00,0.00,168
7,2021-01,10,위트콤,일일(회원),\N,AGE_005,1,0.00,0.00,0.00,52
8,2021-01,10,위트콤,일일(회원),M,AGE_003,1,4.57,0.04,177.68,11
9,2021-01,10,위트콤,일일(회원),M,AGE_004,2,0.00,0.00,0.00,4

In [134]:
data['성별'].fillna('N') # 공백 데이터 N으로 변경

0          M
1          M
2          M
3         \N
4          M
          ..
102921     M
102922     M
102923     M
102924     M
102925    \N
Name: 성별, Length: 1323515, dtype: object

In [135]:
data["성별"] = data["성별"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
data.head(10) # 특수문자 없애기

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01,3,중랑센터,일일(회원),M,AGE_003,2,47.68,0.40,1720.00,25
1,2021-01,3,중랑센터,정기,M,AGE_003,11,578.98,2.87,12390.48,166
2,2021-01,3,중랑센터,정기,M,AGE_004,1,81.65,0.53,2291.05,13
3,2021-01,5,상암센터 정비실,일일(회원),N,AGE_004,1,511.95,3.53,15209.58,47
4,2021-01,5,상암센터 정비실,일일(회원),M,AGE_004,6,371.10,3.39,14642.60,134
5,2021-01,10,위트콤,단체,N,AGE_003,3,0.00,0.00,0.00,8
6,2021-01,10,위트콤,일일(비회원),N,AGE_008,1,0.00,0.00,0.00,168
7,2021-01,10,위트콤,일일(회원),N,AGE_005,1,0.00,0.00,0.00,52
8,2021-01,10,위트콤,일일(회원),M,AGE_003,1,4.57,0.04,177.68,11
9,2021-01,10,위트콤,일일(회원),M,AGE_004,2,0.00,0.00,0.00,4

In [136]:
data['대여구분코드'].unique()

array(['일일(회원)', '정기', '단체', '일일(비회원)', 'BIL_021', '10분이용권'], dtype=object)

In [137]:
data['대여구분코드']=data['대여구분코드'].replace('10분이용권','일일(비회원)')
data['대여구분코드']=data['대여구분코드'].replace('BIL_021','일일(비회원)')

In [138]:
data['대여구분코드'].value_counts() # 10분 이용권과 BIL_021을 일일(비회원)으로 옮김

정기         677801
일일(회원)     509009
단체          91411
일일(비회원)     45294
Name: 대여구분코드, dtype: int64

In [139]:
pd.to_numeric(data['운동량'], errors='coerce') # 문자열은 NaN 값으로 치환하여 변환

0          47.68
1         578.98
2          81.65
3         511.95
4         371.10
           ...
102921     77.06
102922      6.38
102923     82.11
102924      0.00
102925      0.00
Name: 운동량, Length: 1323515, dtype: float64

In [140]:
pd.to_numeric(data['탄소량'], errors='coerce')

0         0.40
1         2.87
2         0.53
3         3.53
4         3.39
          ...
102921    0.64
102922    0.05
102923    0.74
102924    0.00
102925    0.00
Name: 탄소량, Length: 1323515, dtype: float64

In [141]:
pd.to_numeric(data['이동거리(M)'])

0          1720.00
1         12390.48
2          2291.05
3         15209.58
4         14642.60
            ...
102921     2780.00
102922      230.10
102923     3190.00
102924        0.00
102925        0.00
Name: 이동거리(M), Length: 1323515, dtype: float64

In [142]:
pd.to_numeric(data['이용시간(분)'])

0          25
1         166
2          13
3          47
4         134
         ...
102921     31
102922      2
102923     28
102924     17
102925      5
Name: 이용시간(분), Length: 1323515, dtype: int64

In [143]:
data['연령대코드'].unique()

array(['AGE_003', 'AGE_004', 'AGE_008', 'AGE_005', 'AGE_001', 'AGE_002',
       'AGE_006', 'AGE_007'], dtype=object)

In [144]:
data['연령대코드']=data['연령대코드'].replace('AGE_001','10대')
data['연령대코드']=data['연령대코드'].replace('AGE_002','20대')
data['연령대코드']=data['연령대코드'].replace('AGE_003','30대')
data['연령대코드']=data['연령대코드'].replace('AGE_004','40대')
data['연령대코드']=data['연령대코드'].replace('AGE_005','50대')
data['연령대코드']=data['연령대코드'].replace('AGE_006','60대')
data['연령대코드']=data['연령대코드'].replace('AGE_007','70대')
data['연령대코드']=data['연령대코드'].replace('AGE_008','비고') 
# 연령대 코드 001 = 10대, 002 = 20대... 로 변환
# 60대 이상은 60대로 구분

In [145]:
data['연령대코드'].value_counts()

20대    248744
30대    220709
40대    211255
비고     180782
10대    171181
50대    165247
60대     94249
70대     31348
Name: 연령대코드, dtype: int64

In [146]:
data['성별']=data['성별'].replace('m','M')
data['성별']=data['성별'].replace('f','F')

In [147]:
data['성별'].value_counts()

N    407787
M    389811
F    353464
Name: 성별, dtype: int64

In [148]:
data

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01,3,중랑센터,일일(회원),M,30대,2,47.68,0.40,1720.00,25
1,2021-01,3,중랑센터,정기,M,30대,11,578.98,2.87,12390.48,166
2,2021-01,3,중랑센터,정기,M,40대,1,81.65,0.53,2291.05,13
3,2021-01,5,상암센터 정비실,일일(회원),N,40대,1,511.95,3.53,15209.58,47
4,2021-01,5,상암센터 정비실,일일(회원),M,40대,6,371.10,3.39,14642.60,134
...,...,...,...,...,...,...,...,...,...,...,...
102921,2021-12,9999,상담센터,정기,M,50대,2,77.06,0.64,2780.00,31
102922,2021-12,9999,상담센터,정기,M,60대,1,6.38,0.05,230.10,2
102923,2021-12,9999,상담센터,정기,M,비고,2,82.11,0.74,3190.00,28
102924,2021-12,88888,88888.영남배송,정기,M,60대,1,0.00,0.00,0.00,17
102925,2021-12,99999,99999. 영남단말기정비,정기,N,비고,4,0.00,0.00,0.00,5

#### 날씨, 미세먼지 데이터와 합치기

In [152]:
weather=pd.read_excel('./data/미세먼지월별평균data.xlsx',header=4)
weather

,구분,Unnamed: 1,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,서울시 평균,39.0,38.0,48.0,67.0,42.0,61.0,33.0,24.0,21.0,15.0,27.0,46.0,39.0
1,강남구,37.0,34.0,47.0,66.0,41.0,60.0,34.0,26.0,22.0,14.0,25.0,42.0,36.0
2,강동구,39.0,42.0,52.0,68.0,42.0,64.0,32.0,22.0,21.0,14.0,27.0,46.0,42.0
3,강북구,39.0,45.0,51.0,66.0,42.0,61.0,30.0,24.0,23.0,17.0,28.0,44.0,42.0
4,강서구,41.0,41.0,53.0,66.0,42.0,64.0,33.0,24.0,21.0,15.0,31.0,56.0,44.0
5,관악구,36.0,33.0,44.0,64.0,38.0,57.0,33.0,25.0,22.0,14.0,26.0,42.0,36.0
6,광진구,37.0,35.0,45.0,63.0,40.0,60.0,31.0,23.0,22.0,14.0,26.0,44.0,37.0
7,구로구,40.0,39.0,51.0,76.0,47.0,64.0,32.0,20.0,19.0,15.0,27.0,46.0,42.0
8,금천구,38.0,39.0,54.0,63.0,41.0,57.0,33.0,26.0,22.0,15.0,26.0,45.0,40.0
9,노원구,38.0,42.0,49.0,63.0,40.0,57.0,30.0,23.0,21.0,15.0,27.0,47.0,41.0
10,도봉구,37.0,35.0,42.0,61.0,42.0,59.0,32.0,23.0,22.0,16.0,27.0,47.0,40.0
11,동대문구,38.0,36.0,47.0,64.0,41.0,63.0,35.0,24.0,21.0,14.0,26.0,45.0,39.0
12,동작구,41.0,40.0,52.0,69.0,44.0,64.0,36.0,27.0,25.0,17.0,29.0,47.0,43.0
13,마포구,36.0,33.0,45.0,63.0,39.0,56.0,31.0,24.0,21.0,15.0,27.0,41.0,33.0
14,서대문구,35.0,35.0,42.0,57.0,38.0,60.0,28.0,17.0,20.0,12.0,25.0,44.0,36.0
15,서초구,40.0,39.0,51.0,73.0,49.0,69.0,37.0,24.0,19.0,12.0,24.0,42.0,36.0
16,성동구,38.0,34.0,45.0,72.0,40.0,59.0,31.0,23.0,21.0,15.0,28.0,47.0,40.0
17,성북구,39.0,39.0,50.0,67.0,46.0,65.0,34.0,24.0,20.0,13.0,27.0,50.0,36.0
18,송파구,38.0,34.0,44.0,62.0,41.0,60.0,33.0,25.0,23.0,16.0,29.0,45.0,38.0
19,양천구,41.0,40.0,55.0,76.0,44.0,61.0,34.0,26.0,23.0,16.0,29.0,44.0,40.0
20,영등포구,38.0,35.0,46.0,66.0,39.0,57.0,33.0,25.0,22.0,16.0,27.0,46.0,38.0
21,용산구,36.0,43.0,43.0,59.0,38.0,59.0,31.0,23.0,21.0,14.0,23.0,44.0,38.0
22,은평구,37.0,35.0,46.0,71.0,42.0,59.0,31.0,21.0,19.0,16.0,26.0,46.0,37.0
23,종로구,40.0,42.0,51.0,71.0,42.0,64.0,32.0,22.0,21.0,13.0,28.0,48.0,40.0
24,중구,42.0,44.0,54.0,80.0,45.0,67.0,36.0,28.0,23.0,13.0,27.0,46.0,38.0
25,중랑구,38.0,36.0,47.0,66.0,40.0,60.0,33.0,26.0,23.0,14.0,25.0,45.0,38.0