In [1]:
import pandas as pd
import numpy as np

In [2]:
dust1=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 1월 미세먼지 분석.xls', header=0)
dust2=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 2월 미세먼지 데이터(일별).xls', header=3)
dust3=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 3월 미세먼지 데이터(일별).xls', header=3)
dust4=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 4월 미세먼지 데이터(일별).xls', header=3)
dust5=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 5월 미세먼지 데이터(일별).xls', header=3)
dust6=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 6월 미세먼지 데이터(일별).xls', header=3)
dust7=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 7월 미세먼지 데이터(일별).xls', header=3)
dust8=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 8월 미세먼지 데이터(일별).xls', header=3)
dust9=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 9월 미세먼지 데이터(일별).xls', header=3)
dust10=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 10월 미세먼지 데이터(일별).xls', header=3)
dust11=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 11월 미세먼지 데이터(일별).xls', header=3)
dust12=pd.read_excel('./data/미세먼지, 날씨 데이터/미세먼지/21년 12월 미세먼지 데이터(일별).xls', header=3)

In [3]:
dust1 = dust1.drop(index=0,axis=1) # 0열 제거
dust1=dust1.iloc[:,[0,1]] # PM10 만 추출

In [4]:
dust2=dust2.iloc[:,[0,1]]
dust3=dust3.iloc[:,[0,1]]
dust4=dust4.iloc[:,[0,1]]
dust5=dust5.iloc[:,[0,1]]
dust6=dust6.iloc[:,[0,1]]
dust7=dust7.iloc[:,[0,1]]
dust8=dust8.iloc[:,[0,1]]
dust9=dust9.iloc[:,[0,1]]
dust10=dust10.iloc[:,[0,1]]
dust11=dust11.iloc[:,[0,1]]
dust12=dust12.iloc[:,[0,1]] # 각 서울 데이터만 추출

In [5]:
dust2=dust2.sort_values('날짜',ascending=True)
dust3=dust3.sort_values('날짜',ascending=True)
dust4=dust4.sort_values('날짜',ascending=True)
dust5=dust5.sort_values('날짜',ascending=True)
dust6=dust6.sort_values('날짜',ascending=True)
dust7=dust7.sort_values('날짜',ascending=True)
dust8=dust8.sort_values('날짜',ascending=True)
dust9=dust9.sort_values('날짜',ascending=True)
dust10=dust10.sort_values('날짜',ascending=True)
dust11=dust11.sort_values('날짜',ascending=True)
dust12=dust12.sort_values('날짜',ascending=True) # 날짜 오름차순 정렬

In [6]:
dust1=dust1.rename(columns={'PM10':'미세먼지'})
dust2=dust2.rename(columns={'서울':'미세먼지'})
dust3=dust3.rename(columns={'서울':'미세먼지'})
dust4=dust4.rename(columns={'서울':'미세먼지'})
dust5=dust5.rename(columns={'서울':'미세먼지'})
dust6=dust6.rename(columns={'서울':'미세먼지'})
dust7=dust7.rename(columns={'서울':'미세먼지'})
dust8=dust8.rename(columns={'서울':'미세먼지'})
dust9=dust9.rename(columns={'서울':'미세먼지'})
dust10=dust10.rename(columns={'서울':'미세먼지'})
dust11=dust11.rename(columns={'서울':'미세먼지'})
dust12=dust12.rename(columns={'서울':'미세먼지'})

In [7]:
dust = pd.concat([dust1,dust2,dust3,dust4,dust5,dust6,dust7,dust8,dust9,dust10,dust11,dust12])
dust.tail(10)

           날짜 미세먼지
9  2021-12-22   32
8  2021-12-23   43
7  2021-12-24   47
6  2021-12-25   23
5  2021-12-26   16
4  2021-12-27   32
3  2021-12-28   51
2  2021-12-29   61
1  2021-12-30   28
0  2021-12-31   22

In [8]:
dust.loc[(dust['미세먼지']>=0)&(dust['미세먼지']<=35),'상태']='보통'
dust.loc[(dust['미세먼지']>=36)&(dust['미세먼지']<= 75),'상태']='나쁨'
dust.loc[dust['미세먼지']>=76,'상태']='매우나쁨'
dust

            날짜 미세먼지  상태
1   2021-01-01   30  보통
2   2021-01-02   36  나쁨
3   2021-01-03   41  나쁨
4   2021-01-04   44  나쁨
5   2021-01-05   28  보통
..         ...  ...  ..
4   2021-12-27   32  보통
3   2021-12-28   51  나쁨
2   2021-12-29   61  나쁨
1   2021-12-30   28  보통
0   2021-12-31   22  보통

[365 rows x 3 columns]

미세먼지 데이터 코드 분류
- 0-15(좋음) = 좋음
- 16-35(보통) = 보통
- 36-75(나쁨) = 나쁨
- 76이상(매우나쁨) = 매우나쁨

In [9]:
dust=dust.reset_index()
dust

     index          날짜 미세먼지  상태
0        1  2021-01-01   30  보통
1        2  2021-01-02   36  나쁨
2        3  2021-01-03   41  나쁨
3        4  2021-01-04   44  나쁨
4        5  2021-01-05   28  보통
..     ...         ...  ...  ..
360      4  2021-12-27   32  보통
361      3  2021-12-28   51  나쁨
362      2  2021-12-29   61  나쁨
363      1  2021-12-30   28  보통
364      0  2021-12-31   22  보통

[365 rows x 4 columns]

In [10]:
dust = dust[['날짜','미세먼지','상태']]
dust

             날짜 미세먼지  상태
0    2021-01-01   30  보통
1    2021-01-02   36  나쁨
2    2021-01-03   41  나쁨
3    2021-01-04   44  나쁨
4    2021-01-05   28  보통
..          ...  ...  ..
360  2021-12-27   32  보통
361  2021-12-28   51  나쁨
362  2021-12-29   61  나쁨
363  2021-12-30   28  보통
364  2021-12-31   22  보통

[365 rows x 3 columns]

In [11]:
dust.to_csv('dust.csv')