In [11]:
import pandas as pd
import numpy as np

In [12]:
data=pd.read_csv('daydata.csv')

In [13]:
total=pd.read_csv('total1.csv')
total.head(10)

   Unnamed: 0        대여일시      대여건수  미세먼지  상태  강수량(mm)  날씨
0           0  2021-01-01   22,274     30  보통      0.0  맑음
1           1  2021-01-02   23,631     36  나쁨      0.0  맑음
2           2  2021-01-03   21,809     41  나쁨      0.0  맑음
3           3  2021-01-04   32,957     44  나쁨      0.0  맑음
4           4  2021-01-05   29,033     28  보통      0.0  맑음
5           5  2021-01-06   22,261     29  보통      2.3   비
6           6  2021-01-07    5,549     36  나쁨      0.0  맑음
7           7  2021-01-08    8,029     23  보통      0.0  맑음
8           8  2021-01-09    9,082     27  보통      0.0  맑음
9           9  2021-01-10   11,116     40  나쁨      0.0  맑음

In [4]:
data.head(10)

,Unnamed: 0,대여일자,대여소번호,대여소,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,0,2021-01-01,101,101. (구)합정동 주민센터,일일(회원),N,20대,1,0.00,0.00,0.00,46
1,1,2021-01-01,101,101. (구)합정동 주민센터,일일(회원),M,20대,1,0.00,0.00,0.00,48
2,2,2021-01-01,101,101. (구)합정동 주민센터,정기,N,20대,1,0.00,0.00,0.00,31
3,3,2021-01-01,101,101. (구)합정동 주민센터,정기,N,50대,1,0.00,0.00,0.00,30
4,4,2021-01-01,101,101. (구)합정동 주민센터,정기,F,30대,1,0.00,0.00,0.00,78
5,5,2021-01-01,101,101. (구)합정동 주민센터,정기,M,30대,1,36.23,0.29,1270.63,123
6,6,2021-01-01,101,101. (구)합정동 주민센터,정기,M,40대,1,0.00,0.00,0.00,7
7,7,2021-01-01,102,102. 망원역 1번출구 앞,일일(회원),N,20대,1,0.00,0.00,0.00,5
8,8,2021-01-01,102,102. 망원역 1번출구 앞,일일(회원),N,30대,2,154.99,1.40,6021.18,90
9,9,2021-01-01,102,102. 망원역 1번출구 앞,일일(회원),F,20대,1,0.00,0.00,0.00,8

In [5]:
total=total[['대여일시','미세먼지','상태','강수량(mm)','날씨']]
total.head(10)

         대여일시  미세먼지  상태  강수량(mm)  날씨
0  2021-01-01    30  보통      0.0  맑음
1  2021-01-02    36  나쁨      0.0  맑음
2  2021-01-03    41  나쁨      0.0  맑음
3  2021-01-04    44  나쁨      0.0  맑음
4  2021-01-05    28  보통      0.0  맑음
5  2021-01-06    29  보통      2.3   비
6  2021-01-07    36  나쁨      0.0  맑음
7  2021-01-08    23  보통      0.0  맑음
8  2021-01-09    27  보통      0.0  맑음
9  2021-01-10    40  나쁨      0.0  맑음

In [14]:
total=total.rename(columns={'대여일시':'대여일자'})
total.head(10)

   Unnamed: 0        대여일자      대여건수  미세먼지  상태  강수량(mm)  날씨
0           0  2021-01-01   22,274     30  보통      0.0  맑음
1           1  2021-01-02   23,631     36  나쁨      0.0  맑음
2           2  2021-01-03   21,809     41  나쁨      0.0  맑음
3           3  2021-01-04   32,957     44  나쁨      0.0  맑음
4           4  2021-01-05   29,033     28  보통      0.0  맑음
5           5  2021-01-06   22,261     29  보통      2.3   비
6           6  2021-01-07    5,549     36  나쁨      0.0  맑음
7           7  2021-01-08    8,029     23  보통      0.0  맑음
8           8  2021-01-09    9,082     27  보통      0.0  맑음
9           9  2021-01-10   11,116     40  나쁨      0.0  맑음

In [15]:
data=data[['대여일자','대여구분코드','성별','연령대코드','운동량','탄소량','이동거리(M)','이용시간(분)']]
data.head(10)

         대여일자  대여구분코드 성별 연령대코드     운동량   탄소량  이동거리(M)  이용시간(분)
0  2021-01-01  일일(회원)  N   20대    0.00  0.00     0.00       46
1  2021-01-01  일일(회원)  M   20대    0.00  0.00     0.00       48
2  2021-01-01      정기  N   20대    0.00  0.00     0.00       31
3  2021-01-01      정기  N   50대    0.00  0.00     0.00       30
4  2021-01-01      정기  F   30대    0.00  0.00     0.00       78
5  2021-01-01      정기  M   30대   36.23  0.29  1270.63      123
6  2021-01-01      정기  M   40대    0.00  0.00     0.00        7
7  2021-01-01  일일(회원)  N   20대    0.00  0.00     0.00        5
8  2021-01-01  일일(회원)  N   30대  154.99  1.40  6021.18       90
9  2021-01-01  일일(회원)  F   20대    0.00  0.00     0.00        8

In [8]:
type(data['대여일자'])

pandas.core.series.Series

In [22]:
type(total['대여일자'])

pandas.core.series.Series

In [20]:
data1=pd.merge(data,total)

In [21]:
data1.to_csv('last1.csv')